[submodule "SonicShooter/Plugins/AbilitySystemSetup"]
	path = SonicShooter/Plugins/AbilitySystemSetup
	url = https://github.com/ChristianHinko/AbilitySystemSetup.git
[submodule "SonicShooter/Plugins/HelperLibraries"]
	path = SonicShooter/Plugins/HelperLibraries
	url = https://github.com/brian2524/HelperLibraries.git
[submodule "SonicShooter/Plugins/PropertyWrapper"]
	path = SonicShooter/Plugins/PropertyWrapper
	url = https://github.com/brian2524/PropertyWrapper.git
[submodule "SonicShooter/Plugins/PrototypeAssets"]
	path = SonicShooter/Plugins/PrototypeAssets
	url = https://github.com/ChristianHinko/PrototypeAssets.git
[submodule "SonicShooter/Plugins/AbilitySystemSetupExtras"]
	path = SonicShooter/Plugins/AbilitySystemSetupExtras
	url = https://github.com/brian2524/AbilitySystemSetupExtras.git
[submodule "SonicShooter/Plugins/MaterialFunctionLibrary"]
	path = SonicShooter/Plugins/MaterialFunctionLibrary
	url = https://github.com/brian2524/MaterialFunctionLibrary.git
[submodule "SonicShooter/Plugins/AutoSettings"]
	path = SonicShooter/Plugins/AutoSettings
	url = https://github.com/brian2524/AutoSettings.git
[submodule "SonicShooter/Plugins/ArcInventory"]
	path = SonicShooter/Plugins/ArcInventory
	url = https://github.com/ChristianHinko/ArcInventory.git
[submodule "SonicShooter/Plugins/ArcInventoryExtension"]
	path = SonicShooter/Plugins/ArcInventoryExtension
	url = https://github.com/brian2524/ArcInventoryExtension.git
