[submodule "SonicShooter/Plugins/AbilitySystemSetup"]
	path = SonicShooter/Plugins/AbilitySystemSetup
	url = https://github.com/include-iostream/AbilitySystemSetup.git
[submodule "SonicShooter/Plugins/HelperLibraries"]
	path = SonicShooter/Plugins/HelperLibraries
	url = https://github.com/brian2524/HelperLibraries.git
[submodule "SonicShooter/Plugins/PropertyWrapper"]
	path = SonicShooter/Plugins/PropertyWrapper
	url = https://github.com/brian2524/PropertyWrapper.git
[submodule "SonicShooter/Plugins/PrototypeAssets"]
	path = SonicShooter/Plugins/PrototypeAssets
	url = https://github.com/include-iostream/PrototypeAssets.git
[submodule "SonicShooter/Plugins/AbilitySystemSetupExtras"]
	path = SonicShooter/Plugins/AbilitySystemSetupExtras
	url = https://github.com/brian2524/AbilitySystemSetupExtras.git
