[submodule "ShooterTest/Plugins/AbilitySystemSetup"]
	path = ShooterTest/Plugins/AbilitySystemSetup
	url = https://github.com/ChristianHinko/AbilitySystemSetup.git
[submodule "ShooterTest/Plugins/PrototypeAssets"]
	path = ShooterTest/Plugins/PrototypeAssets
	url = https://github.com/ChristianHinko/PrototypeAssets.git
[submodule "ShooterTest/Plugins/AbilitySystemSetupExtras"]
	path = ShooterTest/Plugins/AbilitySystemSetupExtras
	url = https://github.com/brian2524/AbilitySystemSetupExtras.git
[submodule "ShooterTest/Plugins/PropertyWrapper"]
	path = ShooterTest/Plugins/PropertyWrapper
	url = https://github.com/brian2524/PropertyWrapper.git
[submodule "ShooterTest/Plugins/GameSetup"]
	path = ShooterTest/Plugins/GameSetup
	url = https://github.com/ChristianHinko/GameSetup.git
[submodule "ShooterTest/Plugins/MaterialFunctionLibrary"]
	path = ShooterTest/Plugins/MaterialFunctionLibrary
	url = https://github.com/brian2524/MaterialFunctionLibrary.git
[submodule "ShooterTest/Plugins/AutoSettings"]
	path = ShooterTest/Plugins/AutoSettings
	url = https://github.com/brian2524/AutoSettings.git
[submodule "ShooterTest/Plugins/ArcInventory"]
	path = ShooterTest/Plugins/ArcInventory
	url = https://github.com/ChristianHinko/ArcInventory.git
[submodule "ShooterTest/Plugins/ArcInventoryExtension"]
	path = ShooterTest/Plugins/ArcInventoryExtension
	url = https://github.com/brian2524/ArcInventoryExtension.git
[submodule "ShooterTest/Plugins/GameCore"]
	path = ShooterTest/Plugins/GameCore
	url = https://github.com/brian2524/GameCore.git
